html, body {
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	background-color: #eee;
}

.login-container {
	width: 30em;
	height: 20em;
	background-color: #aaa;
	display: inline-flex;
	align-content: center;
	justify-content: center;
	align-items: center;
}

.app-login-container {
	width: 75%;
}

.app-container {
	display: inline-flex;
	align-content: center;
	justify-content: center;
	align-items: center;
}

.navbar + .app-container {
	margin-top: -56px;
}

.app-container {
	width: 100%;
	height: 100%;
	display: inline-flex;
	align-content: center;
	justify-content: center;
}

.app-input {
	margin: 0.25em 0;
	padding: 5px;
	height: 25px;
	width: 20em;
}

.app-input:before {
	padding-left: 25px;
}

.app-btn {
	border-style: none;
	cursor: pointer;
	background: unset;
}

.app-btn.app-primary {
	height: 25px;
	background-color: #1b8cfe;
	color: #fff;
}

.app-btn-block {
	display: block;
	width: 100%;
}

.app-footah {
	position: fixed;
	display: inline-flex;
	align-content: center;
	justify-content: center;
	left: 0;
	right: 0;
	bottom: 0;
}

.registration-form {
	display: flex;
}

.registration-element {
	margin: 0.1em 0.9em;
	width: 25em;
}

.data-action {
	padding: 0 3em 2em 3em;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.data-action-header {
	margin-top: 1em;
	width: 100%;
}

.data-pagination {
	display: inline-flex;
	align-content: center;
	justify-content: center;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
}

.sidenotch {
	font-size: 8px;
	color: #fff;
	position: absolute;
	bottom: 0;
}

.view-container {
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	justify-content: center;	
}


.view-header-section > p {
	margin: 0.1em 0 0.1em 0;
}

.view-header {
	width: 100%;
	display: flex;
	align-content: center;
	justify-content: center;
}

.view-section-element {
	margin: 2em;
}

.view-information-section {
	display: flex;
}

.view-information-container {
	margin: 25em;
}

.dashboard {
	display: flex;
	align-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.dashboard-header {
	width: 100%;
	display: flex;
	align-content: center;
	justify-content: center;
}

.dashboard-content {
	width: 100%;
	display: flex;
	align-content: center;
	justify-content: center;
}

.dashboard-element {
	display: block;
	margin: 10px;
}
